/* Ensure we can have full screen pages */
html,
body,
#app {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

code,
samp,
kbd {
  font-family: 'Courier New', Courier, monospace, sans-serif;
  text-align: left;
  color: #555;
}
pre code {
  line-height: 1.6em;
  font-size: 11px;
  width: 100%;
  padding: 20px;
}

pre code.hljs {
  display: block !important;
}

code.hljs {
  display: inline;
}

pre {
  overflow: auto;
  width: 100%;
}

/* target IE7 and IE6 */
*:first-child + html pre {
  padding-bottom: 2em;
  overflow-y: hidden;
  overflow: visible;
  overflow-x: auto;
}
* html pre {
  padding-bottom: 2em;
  overflow: visible;
  overflow-x: auto;
}
